.app {
  font-family: sans-serif;
  text-align: center;
}

.move-me {
  display: flex;
  justify-content: center;
}

.color {
  height: 50px;
  width: 100px;
  margin-left: 43%;
  margin-bottom: 10px;
}
